/*
 * @Date: 2021-12-02
 * @Description: scss变量
 */

$ThemeColor: #3052ba;
$trans-height: 47px;
$nav-height: 44px;
$container-padding: 16px;
$container-bg1: #fff;
// TOREVERT:
// $container-bg2: #f7f7f7;
$container-bg2: RED;
$container-bg3: #f6f6f6;
